<%- include("../partials/header_after") %> 
<h1>User Profile</h1>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>
<p>Age: <%= age %></p>
<p>Biography: <%= biography %></p>

<!-- Link to the general user profile edit page -->
<a href="/editUserProfile">Edit User Profile</a>